.carousel_background{
  border-radius: 30px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.348), 0 6px 20px 0 rgba(0, 0, 0, 0.353);
}

.carousel_caption_area{
  background-color: rgba(19, 19, 19, 0.8);
  border-radius: 20px;
  border-left: 2px solid #ECDFCC;
  border-right: 2px solid #ECDFCC;
}

.carousel_img{
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

h1, h2{
  color: #ECDFCC;
}

.card {
  transition: transform 0.3s ease-in-out;
  border: none;
}

.card:hover {
  transform: scale(1.05);
  border: none;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.238), 0 6px 20px 0 rgba(0, 0, 0, 0.238);
}

.texto-limitado-largura-fixa {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}